@using Microsoft.AspNetCore.Identity
@using NSE.WebApp.MVC.Extensions
@inject IUser AppUser

@if (AppUser.EstaAutenticado())
{
    <div class="dropdown">
        <a href="#" class="icontext dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenu">
            <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.ObterUserEmail())?d=mm&s=45">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li><a class="dropdown-item" href="#">Meus Pedidos</a></li>
            <li class="divider"></li>
            <li><a class="dropdown-item" asp-controller="Identidade" asp-action="Logout">Sair</a></li>
        </ul>
    </div>
}
else
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div>
            <a asp-controller="Identidade" asp-action="Registro">Crie sua conta</a> <span> | </span>
            <a asp-controller="Identidade" asp-action="Login"> Login</a>
        </div>
    </div>
}
